# Dependencias
node_modules/

# Compilación TypeScript
dist/

# Variables de entorno
.env

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
